.git/
**.DS_Store
**.pdf
digital_signal_processing/
source_tracking/exceptions
source_tracking/Tracking_v2.py
exceptions/__pycache__
interface/__pycache__
**.pyc
source_tracking/__pycache__
signal_processing/__pycache__
signal_processing/Opening_binary_test.py
calibration/my_test_notebook.ipynb
calibration/calibration_test_notebook.ipynb
.cached_spectra/*
calibration/firstlight_calib.ipynb
calibration/test_calibrations.ipynb
./interface_main.py
calibration/calibration_test_notebook.ipynb
calibration/sun_planning/*